aws_region="us-east-1"
aws_profile="my-profile"
public_key="ssh-rsa AAAAB3N4asdf2ef2f454gdABAQC7GCiq1SNOFzqWn84x7PTOIdmQIQaP1rgd20xJfASJp7gqPsZzqjjXqVmaqNrBEfX3PwRicfeA+2LOzE2WIysX8ye6ot+3Y6w20+f4Effrrr0mMMieGB1yDJ5u6rhCyIZXi6ySdAXEqD2RBpOd+YweCsO+z8xSsu9d2nbd9ll2k311239x89behmNSMrOYXK2phVrzAC8qsm/RAs8wlorU1e3qL518Ya4uRmEm/5k+bwza3Sug2e41D1owEQ9jT4kCDGfX5RKyJDRWByGpwkq7OsV8HVo8EHWZ8DmK5uWqB37/ntMv+rjZp2GP5nM9MQY3ddEQxqeRPkeP15LDxmUV me@myhost.net"
